<html>
<head>
	<title>Guardian Visuals - docs</title>
	<style type="text/css">{{ css.toString() }}</style>
	<style type="text/css">{{ fontCss.toString() }}</style>
</head>
<body>

	{{ header.toString() }}

	<div class="container">

		<h2>
			Files
			<span class="last-updated">
				last updated:
				<time datetime="{{ docs2archieml.lastSaved }}" title="{{ docs2archieml.lastSaved }}">
					{{ docs2archieml.lastSaved | relativeDate }}
				</time>
				<a href="log">log</a>
			</span>
		</h2>

		<p class="note">To add a document to this list share it with <span>{{email}}</span>. Updates may take a few minutes to come through.</p>

		<table>
			<thead>
				<tr>
					<th>Title</th>
					<th>Last Modified</th>
					<th>By</th>
					<th>@{{config.requireDomainPermissions}}</th>
					<th>Links</th>
				</tr>
			</thead>

			<tbody>
				{% for f in files %}
				<tr class="domainpermissions--{{f.domainPermissions}}">
					<td><img src="{{ f.metaData.iconLink }}"/>{{ f.title }}</td>
					<td title="{{ f.modifiedDate }}">{{ f.metaData.modifiedDate | relativeDate }}</td>
					<td>{{ f.metaData.lastModifyingUserName }}</td>
					<td><span class="permission permission--{{ f.domainPermissions }}">{{ f.domainPermissions }}</span></td>
					<td>
						<a class="docs" href="{{ f.urlDocs }}">docs</a> /
						{% if f.properties.isTable %}
							<a class="table-embed" target="_blank" href="https://interactive.guim.co.uk/tools/tables/embed/index.html?spreadsheet={{ f.id }}">table url</a> /
						{% endif %}
						<a class="{%if f.isTestCurrent() %}current{%else%}old{%endif%}"
							href="{{ f.urlTest }}">test</a>
						{% if f.urlProd %}
							/ <a class="{%if f.isProdCurrent() %}current{%else%}old{%endif%}"
							     href="{{ f.urlProd }}">
								prod</a>
						{% endif %}
					</td>
					<td>
						{% if !f.isProdCurrent() or dev %}
							<form method="POST" action='{{config.base_url}}/publish'>
								<input type="hidden" name="id" value="{{ f.id }}">
								<button class="btn btn--blue">publish</button>
							</form>
						{% else %}
							<button class="btn btn--blue" disabled="disabled">up-to-date</button>
						{% endif %}
					</td>
					{% if dev %}
						<td>
							<form method="POST" action='{{config.base_url}}/publish?test=true'>
								<input type="hidden" name="id" value="{{ f.id }}">
								<button class="btn btn--blue">force test</button>
							</form>
						</td>
					{% endif %}
			  	{% endfor %}
			</tbody>
		</table>

        <p class="note">Showing page {{ page }}, {{ size }} docs per page.</p>
	</div>
</body>
</html>
