$guss-webfonts-base-url: 'https://interactive.guim.co.uk/fonts/guss-webfonts';
$guss-webfonts-charset: 'original';
$guss-webfonts-hinting: 'off';
$guss-webfonts-kerning: 'on';
$guss-webfonts-version: '';
$guss-webfonts-path: '/';

@import '../../bower_components/guss-webfonts/src/_webfonts.scss';
@import '../../bower_components/guss-typography/_typography.scss';
@include guss-webfonts();

html, body {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'kern';
  -moz-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  -moz-font-kerning: normal;
  font-kerning: normal;
  -webkit-font-variant-ligatures: common-ligatures;
  -moz-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
}
html {
  font-family: "Guardian Text Egyptian Web",Georgia,serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
