@import 'fonts';

body {
	background: #f1f1f1;
	margin: 0;
	padding: 0;
}
.container {
	max-width: 1300px;
	background: #fff;
	box-sizing: border-box;
	padding: 12px 20px;
	padding-bottom: 24px;
	margin: auto;
	margin-top: 24px;
}
table {
	font-size: 14px;
	border-collapse: collapse;
	width: 100%;
	thead th {
		@include fs-header(1);
		font-weight: 600;
		&:first-child { text-align: left; }
	}
	td {
		padding: 10px;
	}
	td:first-child,
	th:first-child {
		padding-left: 4px;
	}

	tbody {
		td {
			@include fs-textSans(3);
			&:first-child {
				@include fs-bodyCopy(1);

				img {
					width: 14px;
					height: 14px;
					display: inline-block;
					margin-bottom: -2px;
					margin-right: 4px;
				}
			}
			&:nth-child(2),
			&:nth-child(3) {
				color: #767676;
			}
			&:nth-child(4) {
				text-align: center;
				font-size: 12px;
			}
			form { margin: 0; }
		}
	}

}


// {% if !config.requireDomainPermissions %}
// 	table tbody td:nth-child(4),
// 	table thead th:nth-child(4) {
// 		display: none;
// 	}
// {% endif %}

.last-updated {
	font-size: 12px;
	font-weight: normal;
	display: inline-block;
	margin-left: 6px;
	color: #333;
}
.share-with {
	font-size: 12px;
	margin-top: 24px;
	color: #333;
}
.share-with span {
	color: black;
}
.current, .old, .docs, .table-embed {
	  padding: 4px;
	  border-radius: 4px;
	  color: black;
	  text-decoration: none;
	  font-size: 12px;
}
.docs {
	  background-color: rgba(0, 0, 180, 0.3);
}
.table-embed {
	  background-color: rgba(211, 129, 34, 0.4);
}
.current {
	  background-color: rgba(0, 136, 0, 0.24);
}
.old {
	background-color: rgba(136, 0, 0, 0.24);
}
.current:hover, .old:hover, .docs:hover {
	text-decoration: underline;
}
tr.domainpermissions--none {
	background: rgb(255, 200, 200);
}

.permission {
	border-radius: 2px;
	padding: 4px;
}
.permission--writer { background: rgba(0, 136, 0, 0.24); }
.permission--reader { background: rgba(197, 105, 0, 0.24) }
.permission--none, .permission--unknown { background: rgba(136, 0, 0, 0.24) }